# NODE_ENV=production
NODE_ENV=development
MONGODB_URI=mongodb://localhost:27017/taskflow

CLIENT_URL=http://localhost:5173

# JWT
JWT_ACCESS_TOKEN_SECRET=token
JWT_ACCESS_TOKEN_EXPIRY=1d

# Email
NODEMAILER_EMAIL_SERVICE=gmail
NODEMAILER_EMAIL=xyz@gmail.com
NODEMAILER_PASSWORD=password
NODEMAILER_EMAIL_FROM=xyz@gmail.com

# Cloudinary 
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secret

# Stripe
STRIPE_SECRET_KEY=sk_test_51S
STRIPE_WEBHOOK_SECRET=whsec_b42
STRIPE_FREE_PRICE_ID=price_1TG
STRIPE_PRO_PRICE_ID=price_1Sk
STRIPE_ULTIMATE_PRICE_ID=price_1Sk